ipywidgets
pandas
neo4j
#V1
pypdf
python-docx
beautifulsoup4
rake-nltk
spacy
scispacy
en_core_sci_md @ https://github.com/allenai/scispacy-models/releases/download/v0.6.2/en_core_sci_md-0.6.2.tar.gz
openai
pydantic
networkx

# Add more as you build out your agents